langchain_openai
langchain_core
langchain
streamlit
langchain_community
uvicorn
sse_starlette
huggingface_hub 
tiktoken
sentence_transformers==2.2.2
pinecone-client
Flask==2.0.1
Gunicorn==20.1.0
Werkzeug==2.0.1
python-dotenv==0.21.0  # If you are using dotenv
markdown==3.4.1  # Add this if you're using markdown
ctransformers==0.2.5
-e .
