langchain_openai
langchain_core
langchain
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
chromadb
faiss-cpu
huggingface_hub 
tiktoken
sentence_transformers==2.2.2
pinecone-client
flask
ctransformers==0.2.5
gunicorn
markdown
-e .
